<html>

<body>
    <div>
        <% messages.forEach(({text, user, added}, index)=> { %>
            <div>
                <div>
                    <b>
                        <%= user %>
                    </b>
                </div>
                <div>
                    <%= text %>
                </div>
                <div>
                    <i>
                        <%= added %>
                    </i>
                </div>
                <div>
                    <a href="/msg/<%= index  %>">Open</a>
                </div>
                <hr>
            </div>
            <% }) %>

    </div>
    <div>
        <a href="/new">Add a message</a>
    </div>

</body>

</html>