<html>

<body>
    <div>
        <div>
            <div>
                <h2>
                    <%= message.user %>
                </h2>
            </div>
            <div>
                <%= message.text %>
            </div>
            <div>
                <i>
                    <%= message.added %>
                </i>
            </div>
        </div>
        <a href="/">Back</a>

    </div>

</body>

</html>